@model WebBanDT.Models.SanPham

@{
    ViewBag.Title = "SuaSP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using WebBanDT.Models
@{
    KhachHang kh = (KhachHang)Session["TaiKhoan"];
}
@if (kh.Quyen.TenQuyen.Equals("Admin"))
{
    <div>
        <h4>Thông tin sản phẩm</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Tên sản phẩm:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenSP)
            </dd>

            <dt>
                Giá:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GiaSP)
            </dd>

            <dt>
                Số lượng tồn:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Slgton)
            </dd>

            <dt>
                Hình:
            </dt>

            <dd>
                <img src="@Model.HinhSP" width="358" height="358" />
            </dd>

            <dt>
                Ngày nhập:
            </dt>

            <dd>
                @Convert.ToDateTime(Model.NgayNhap).ToString("dd/MM/yyyy")
            </dd>

            <dt>
                Tên danh mục:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DanhMuc.TenDM)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Quay lại trang chủ", "Index")
    </p>
}
else
{
    <h2 style="color:red"><strong>BẠN PHẢI LÀ ADMIN MỚI ĐƯỢC QUYỀN TRUY CẬP TRANG NÀY</strong></h2>
}

